* {
  margin: 0;
  padding: 0;
}
:root {
  --milk: #ffffff;
  --night: #212121;
  --fog: #2f303a;
  --sky: #2196f3;
  --snow: #f5f4fa;
  --cloud: #757575;
  --coffee: #000000;
  --border: #eeeeee;
  --late: #afb1b8;
  --pixel: 14px;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.wrapper {
  display: flex;
  justify-content: center;
}
.little-top {
  display: flex;
}
body {
  font-family: "Roboto", sans-serif;
  background: var(--milk);
  color: var(--night);
}
h1 {
  font-family: "Roboto", sans-serif;
  color: var(--milk);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}
ul {
  list-style-type: none;
}
.wall-title {
  background-color: var(--fog);
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/main.image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1600px 600px;
  max-width: 1600px;
  margin: 0 auto;
}
.title {
  padding: 180px 252px 0px;
  text-transform: uppercase;
  text-align: center;
}
.mount {
  border-bottom: 1px ridge;
}
.top-stil {
  padding: 24px 0px 25px;
}
.stil {
  font-family: "Raleway", sans-serif;
  color: var(--coffee);
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
  text-decoration: none;
}
.stil:focus {
  color: var(--sky);
}
.start {
  gap: 93px;
}
.going {
  gap: 46px;
  padding: 32px 0px;
}
.navi {
  margin-left: auto;
}
.mobil {
  gap: 50px;
  padding: 32px 0px;
}
.black-link {
  color: inherit;
  font-weight: 500;
  font-size: var(pixel);
  line-height: 1.14;
  text-decoration: none;
}
.black-link:hover {
  color: var(--sky);
}
.black-link:focus {
  color: var(--sky);
}
.active {
  position: relative;
}
.active a::after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 4px;
  top: 49px;
  background: #2196f3;
  border-radius: 2px;
}
.can {
  padding: 40px 0px 210px;
}
.service {
  width: 200px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
}
.all-marketing {
  width: 121px;
  height: 38px;
}
.side {
  width: 93px;
  height: 38px;
}
.app {
  width: 141px;
  height: 38px;
}
.design {
  width: 91px;
  height: 38px;
}
.push {
  background: var(--snow);
  color: var(--night);
  font-size: 16px;
  line-height: 160%;
  display: block;
  border: none;
  border-radius: 5px;
}
.push:hover {
  background: var(--sky);
  color: var(--milk);
  cursor: pointer;
}
.push:focus {
  background: var(--sky);
  color: var(--milk);
}
.one-push:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.five-push:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.mag {
  padding: 94px 15px;
  gap: 30px;
}
.box {
  font-weight: 700;
  font-size: var(--pixel);
  line-height: 1.14;
}
.boxs {
  color: var(--cloud);
  font-weight: 400;
  font-size: var(--pixel);
  line-height: 1.7;
}
.skil {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
.inter {
  padding-top: 10px;
}
.social {
  padding-top: 16px;
  gap: 10px;
}
.rock {
  padding-top: 94px;
}
.section {
  padding-bottom: 94px;
}
.team {
  padding-bottom: 50px;
}
.seat {
  padding-bottom: 30px;
}
.wall {
  background: var(--snow);
}
.pill {
  gap: 30px;
}
.pills {
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
.man {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background: var(--milk);
  text-align: center;
  padding: 30px 0px;
}
.wall-secend {
  background: var(--fog);
  padding: 60px 0px;
  border-top: 1px ridge;
}
.post {
  color: var(--milk);
  font-style: normal;
  padding-top: 20px;
}
.little-post {
  padding-bottom: 9px;
}
.address-link {
  color: var(--cloud);
  font-style: normal;
  font-size: var(--pixel);
  line-height: 1.5;
  text-decoration: none;
}
.address-link:hover {
  color: var(--sky);
}
.address-link:focus {
  color: var(--sky);
}
.secend-push {
  display: flex;
  padding: 94px 318px 50px 310px;
  gap: 8px;
}
.card-set {
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 94px;
}
.glass:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project {
  height: 36px;
}
.card {
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  display: block;
}
.ring {
  padding: 20px 24px;
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}
.box-speak {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #2196f3e5;
  color: var(--milk);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  justify-content: center;
}
.box-speak:hover .overlay {
  transform: translateX(0);
}
.box-speak-text {
  padding: 49px 45px 49px 24px;
}
.box-title {
  position: relative;
  overflow: hidden;
}
.block {
  display: block;
}
.overlay-box-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--milk);
  font-weight: 700;
  font-size: 14px;
  line-height: 16.5px;
  text-align: center;
}
.box-title-text {
  padding-top: 27px;
}
.stil-two {
  font-family: "Raleway", sans-serif;
  color: var(--milk);
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.web {
  color: var(--sky);
}
.lost {
  color: var(--milk);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}
.cheap {
  width: 44px;
  height: 44px;
  background-color: var(--milk);
  border-radius: 50px;
}
.cheap:hover,
.cheap:focus {
  background-color: var(--sky);
  cursor: pointer;
}
.cheap-down {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
}
.cheap-down:hover,
.cheap-down:focus {
  background-color: var(--sky);
  cursor: pointer;
}
.wait {
  fill: var(--cloud);
}
.wait:hover,
.wait:focus {
  fill: var(--sky);
}
.live-two {
  width: 170px;
  height: 92px;
  padding-right: 10px;
  fill: var(--late);
}
.live-two:hover,
.live-two:focus {
  fill: var(--sky);
}
.live {
  fill: var(--late);
}
.live:hover,
.live:focus {
  fill: var(--milk);
}
.center {
  padding-top: 4px;
  padding-left: 70px;
}
.four-circle {
  padding-top: 20px;
  gap: 10px;
}
.circle {
  fill: var(--milk);
}
.circle:hover,
circle:focus {
  fill: var(--milk);
  cursor: pointer;
}
.icon {
  border: 1px solid var(--late);
  border-radius: 4px;
}
.icon:hover,
.icon:focus {
  border: 1px solid var(--sky);
  cursor: pointer;
}
.snacks {
  padding: 18px 38px;
}
.cookie {
  padding: 12px;
}
.letter {
  background-color: var(--fog);
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-top: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
.push-down {
  width: 200px;
  height: 52px;
  margin-left: 10px;
  border: var(--sky);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.push-down:hover,
.push-down:focus {
  background-color: var(--sky);
  color: var(--milk);
  fill: var(--milk);
}
.point-send {
  display: flex;
  /* align-items: center;
  text-align: center; */
}
.icon-send {
  padding-top: 4px;
  padding-left: 20px;
}
.name-send {
  /* font-family: "Roboto"; */
  /* font-style: normal; */
  font-size: 16px;
  line-height: 30px;
  width: 82px;
  height: 30px;
  /* padding-top: 2px; */
  padding-left: 42px;
}
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}
.modal {
  position: relative;
  transition-delay: 250ms;
  width: 528px;
  height: 581px;
  background-color: var(--milk);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.open {
  color: var(--night);
  width: 448px;
  height: 23px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 12px;
  margin-left: 27px;
}
.open-from {
  padding-left: 40px;
}

.open-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--cloud);
}
.open-text {
  display: flex;
  width: 413px;
  height: 40px;
  padding-left: 35px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.open-bigtext {
  display: flex;
  width: 413px;
  height: 100px;
  padding: 12px 16px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
}
/* .open-text:hover,
.open-text:focus,
.open-bigtext:hover,
.open-bigtext:focus {
  border: 1px solid var(--sky);
  fill: var(--sky); 
} */
.open-checkbox {
  color: var(--cloud);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin: 20px 37px;
}

.open-send {
  /* font-weight: 700; */
  font-size: 16px;
  line-height: 30px;
  width: 200px;
  height: 50px;
  margin: 30px 124px;
  border: 0px;
  border-radius: 4px;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}
.open-send:hover,
.open-send:focus {
  color: var(--milk);
  background-color: var(--sky);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* .icon-form {
  fill: var(--night);
 
} */
.open-icon {
  position: absolute;
  left: 55px;
  transform: translateX(0%);
}
/* .open-icon:focus,
.open-icon:hover {
  fill: var(--sky);
} */
.open-icon-name {
  top: 18.75%;
}
.open-icon-tel {
  top: 30.75%;
}
.open-icon-email {
  top: 43%;
}
